<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBCS"
         connectionString="data source=(localdb)\MSSQLLocalDB;Integrated Security=SSPI;database=Music"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="MusicService.MusicService" behaviorConfiguration="mexBehaviour">
        <endpoint address="MusicService" binding="basicHttpBinding" contract="MusicService.IMusicService">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9080/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>